@keyframes flipX {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(-1);
    }
  }
  
  .header-image {
    animation: flipX 5s infinite alternate;
  }
  .background-container {
    background-color: #1a1a1a; /* Color de fondo ejecutivo */
    padding: 50px; /* Ajusta el relleno según sea necesario */
  }